.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.night .mantine-Select-dropdown {
  background-color:  rgb(58, 53, 53); /* Set the background color to black */
  color: #080808; /* Set the text color to white */
  border: none; /* Remove the border */
  padding: 8px; /* Add some padding */
}

/* Styling for the select options */
select option {
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.day {
  background-color: white;
  color: black;
  min-height: 100vh

}

.night {
  background-color: rgb(58, 53, 53);
  color: white;
  min-height: 100vh
 
  
}
.night * {
  color: white;
}
.night .mantine-Button-root{
  background-color:  rgb(90, 90, 90); /* Set the background color to black */
  color: #080808; }
.night .table-row {
  color: white;
  background-color:  rgb(90, 90, 90);
}
.day .mantine-Button-root{
  background-color:  #cccccc; /* Set the background color to black */
  color: #080808; }
.day .table-row {
  
  background-color:  #cccccc;
}
.table-row{
   background-color:  rgb(134,142,150);
   width: 600px;
   border: 1px solid  rgb(134,142,150);
 
}
.night .table-cell {
  color: white;
}
.night input {
  background-color: rgb(68, 65, 65);
  color: white;
  
}

/* White borders */  
.night input {
  border: 1px solid white;
}

/* Placeholder text */
.night ::placeholder {
  color:white; 
}
.table {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a maximum height for the table */
}
.table::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}
.mantine-Notification-root.mantine-Notification-root.night  {
  background: black !important;
  color: white !important;
}
.table::-webkit-scrollbar-thumb {
  background-color: rgb(52, 115, 70); /* Set the color of the scrollbar thumb */
}

.table::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
}
/* Remove input shadows */
.night input:focus {
  box-shadow: none;
}
.container{
  display: flex;
 
  padding: 100px;
}

.night .form{
  border: 1px solid white;
}
.night .table{
 
}
.form {
  border: 1px solid rgb(207, 207, 207);
  width: 287px;
  height: 410px;
  padding: 21px;
 justify-content: space-around;

  align-items: center;
  border-radius: 10px;
  
 
}
.selected-row  {
   color: white;
   
    background-color: rgb(52, 115, 70);
}
.table{
  border: 1px solid rgb(207, 207, 207);
  width: 900px;
  padding-left: -10px;
 margin-left: 20px;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
}
.text{
  background-color: rgb(58, 53, 53);
  width: 80px;
}
.day .text{
  background-color: white;
}
.App-link {
  color: #61dafb;
}
@media (max-width: 1244px) {
  html {
    font-size: 14px;
  }
  .form {
    height: auto;
    
   justify-content: center;
    margin-bottom: 30px;
    padding: 48px; /* Add margin to create space between form and table */
  }
  .table {
    height: auto;
    width: auto;
    margin-left: -1rem;
    height: 300rem;
    
  }
  .container {
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    padding: 60px; /* Add space between form and table */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
  .form{
    width: auto;
  }
}



@media (max-width: 768px) {
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
